<!DOCTYPE html>
<html>
<head>
    <title>CyberSentinel</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <div class="header">
        <h1>CYBERSENTINEL</h1>
        <p>Network Reconnaissance Suite</p>
    </div>

    <div class="tool-grid">

        <a href="/portscan" class="tool-card">
            <h2>Port Scanner</h2>
            <p>
                Discover open ports,
                services and banners
            </p>
        </a>

        <a href="/ping" class="tool-card">
            <h2>Ping Tool</h2>
            <p>
                Measure latency,
                packet loss and RTT
            </p>
        </a>
        <a href="/geolocation" class="tool-card">

    <h2>IP Geolocation</h2>

    <p>
        Discover country, city,
        ISP, organization,
        coordinates and timezone.
    </p>

</a>

        <div class="tool-card disabled">
            <h2>WHOIS Lookup</h2>
            <p>Coming Soon</p>
        </div>

        <div class="tool-card disabled">
            <h2>IP Geolocation</h2>
            <p>Coming Soon</p>
        </div>

    </div>

</div>

</body>
</html>