<!DOCTYPE html>
<html>
<head>
    <title>Ping Tool</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <div class="header">
        <h1>PING TOOL</h1>
        <p>Latency & Connectivity Analysis</p>
    </div>
<div class="nav-buttons">
    <a href="/" class="dashboard-btn">
        Dashboard
    </a>
</div>
    <div class="centered-form">

        <form method="POST">

            <h2>Target Host</h2>

            <input
                type="text"
                name="hostname"
                placeholder="google.com"
                required>

            <br><br>

            <button type="submit">
                Start Ping
            </button>

        </form>

    </div>

</div>

</body>
<footer>

    CyberSentinel v1.0

    <br>

    Network Reachability • Latency Analysis • RTT Statistics

</footer>
</html>